<template>
  <div>
    <div>
      <textarea
        class="form-control"
        v-model="formInput"
        @keyup="formError = ''"
      ></textarea>
      <button type="button" class="btn btn-primary mt-3" @click="addPost">
        Add Post
      </button>
      <div class="post-form-error" v-if="formError">
        {{ formError }}
      </div>
    </div>
    <div>
      <div v-for="(post, index) in posts" :key="index">
        <div class="card my-5">
          <div class="card-header">
            {{ post.date }}
          </div>
          <div class="card-body">
            <p class="card-text">{{ post.text }}</p>
            <div>
              <button
                type="button"
                class="btn btn-danger"
                @click="deletePost(post.id)"
              >
                Delete Post
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import PostsDataService from "../services/PostsDataService";
import axios from "axios";

interface Post {
  id?: number;
  text: string;
  date?: string;
}

@Component
export default class Posts extends Vue {
  private posts: Post[] = [];
  private formInput: string = "";
  private formError: string = "";

  created() {
    PostsDataService.getAll()
      .then((response) => {
        this.posts = response.data.reverse();
      })
      .catch((err) => {
        console.error(`Couldn't fetch all posts: ${err}`);
      });
  }

  public addPost(): void {
    const newPost: Post = {
      text: this.formInput,
    };

    if (newPost.text === '') {
      this.formError = "Please type a message to post";
      return;
    }

    this.$cookies.set("post_date", new Date());

    console.log("Testing cookies now");
    PostsDataService.testCookies()
      .then((response) => {
        console.log(JSON.stringify(response));
      })
      .catch((err) => {
        console.error(JSON.stringify(err));
      });

    PostsDataService.create(newPost)
      .then((response) => {
        this.posts.unshift(response.data);
      })
      .catch((err) => {
        this.formError = err.reponse.statusText;
      });

      this.formInput = "";
  }

  public deletePost(id: number): void {
    PostsDataService.delete(id)
      .then((response) => {
        let newPosts = this.posts.filter(
          (post) => post.id !== response.data[0].id
        );
        this.posts = newPosts;
      })
      .catch((err) => {
        console.error(err.response);
      });
  }
}
</script>

<style scoped>
textarea.form-control {
  height: 100px;
}
</style>
